.burgerConstructor {
  display: flex;
  flex-direction: column;
}

.ingredientList {
  margin: 16px 0;
  padding: 0;

  max-height: calc(100vh - 590px);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;

  scrollbar-color: #8585ad #2f2f37;
}

.ingredientList::-webkit-scrollbar {
  width: 8px;
}

.ingredientList::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.ingredientList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.order {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.orderTotal {
  display: flex;
  gap: 10px;
  align-items: center;
}

.orderButton {
  cursor: pointer;
  padding: 20px 40px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border: none;
  border-radius: 64px;
  outline: none;
  color: #f2f2f3;
}

.empty {
  padding: 60px;
  max-width: 460px;
  height: 100%;

  display: flex;
  align-items: center;

  border: solid 1px #f2f2f3;
  border-radius: 10px;
}
